{% extends "base.html" %}
{% block title %}Shopping Cart{% endblock %}

{% block content %}
<section class="section-content padding-y">
<div class="container" style="margin: 100px auto 100px auto;">

<div class="row">
    <main class="col-md-9">
<div class="card" style="padding: 20px 20px 5px 20px; box-shadow: rgb(209, 209, 209) 1px 1px 25px 1px; border-top: 10px solid #2A27A2;">

<table class="table table-borderless table-shopping-cart">
<thead class="text-muted">
<tr class="small text-uppercase">
  <th scope="col">Product</th>
  <th scope="col" width="120">Description</th>
  <th scope="col" width="120">Price</th>
  <th scope="col" class="text-right" width="200"> </th>

</tr>
</thead>
<tbody>
{% for i in cart_items %}
<tr>

    <td>
        <figure class="itemside">
            <div class="aside"><img src="static/images/vala.png" class="img-sm" style="height:40px"></div>
            <figcaption class="info" style="margin: 10px auto auto auto;">
                <a href=""></a>
                <a href=""></a>
                <a href="" class="title text-dark">{{i.product_name}}</a>
            </figcaption>
        </figure>
    </td>

    <td>
        <div class="itemside">
            <var class="price">{{i.description}}</var>

        </div> <!-- price-wrap .// -->
    </td>

    <td>
        <div class="price-wrap">
            <var class="price">${{ "{:.2f}".format(i.price)}}</var>

        </div> <!-- price-wrap .// -->
    </td>
    <td>
    <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#productsedit{{i.product_id}}" >Edit</button>

    </td>
</tr>
{% endfor %}
</tbody>
</table>

<div class="card-body border-top">
    <form method="POST" action="{{ url_for('payment') }}">
    <button type="submit" href="#" class="btn btn-primary float-md-right"> Proceed To Checkout <i class="fa fa-chevron-right"></i> </button>
    </form>
    <form method="POST" action="{{ url_for('home') }}">
    <button type="submit" href="#" class="btn btn-secondary float-md-right" style="margin-right:10px"> Edit Cart <i class="fa fa-chevron-right"></i> </button>
    </form>
    <a href="{{ url_for('home') }}" class="btn btn-light"> <i class="fa fa-chevron-left"></i> Continue shopping </a>
</div>
</div> <!-- card.// -->

<div class="alert alert-success mt-3">
    <p class="icontext"><i class="icon text-success fa fa-truck"></i> Free Delivery within 1-2 weeks</p>
</div>

    </main> <!-- col.// -->
    <aside class="col-md-3" style="box-shadow: rgb(209, 209, 209) 1px 1px 25px 1px; border-top: 10px solid #2A27A2;">
        <div class="card mb-3">
<!--            <div class="card-body">-->
<!--            <form>-->
<!--                <div class="form-group">-->
<!--                    <label>Have coupon?</label>-->
<!--                    <div class="input-group">-->
<!--                        <input type="text" class="form-control" name="" placeholder="Coupon code">-->
<!--                        <span class="input-group-append">-->
<!--                            <button class="btn btn-primary">Apply</button>-->
<!--                        </span>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </form>-->
<!--            </div> &lt;!&ndash; card-body.// &ndash;&gt;-->
        </div>  <!-- card .// -->
        <div class="card">
            <div class="card-body">
                    <dl class="dlist-align">
                      <dt>Total price:</dt>
                      <dd class="text-right">{{cart_items.price}}</dd>
                    </dl>
                    <dl class="dlist-align">
                      <dt>Total:</dt>
                      <dd class="text-right  h5"><strong>$0</strong></dd>
                    </dl>
                    <hr>
                    <p class="text-center mb-3">
                        <img src="../static/images/Swiss_Logo.png" height="26">
                    </p>

            </div> <!-- card-body.// -->
        </div>  <!-- card .// -->
    </aside> <!-- col.// -->
</div>

</div> <!-- container .//  -->
</section>

<!-- More Info Modal -->
{% for i in cart_items %}
<div class="modal fade" id="Modal-MoreInfo--{{i}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content" style=" left: auto; max-width: 700px; margin: 100px auto auto auto;">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">{{i.product_name}}</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <img class="card-img-top" style="max-height:300px" src="static/images/vala.png" alt="Item Image" />
                    <hr>
                    <p>Name: {{i.product_name}}</p>
                    <p>Description: {{i.description}}</p>
                    <p>Price: ${{ "{:.2f}".format(i.price) }}</p>
                  </div>
                   <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>

                    </div>
                </div>

            </div>
</div>

{% endfor %}

{% endblock %}
